body {
    padding: 50px;
    background-color: beige;
    padding: 50px 30px 50px 80px;
}

table{
    height: 150px;
    width: 500px;
}

td.pc{
    background-color: yellow;
} 
td.tc{
    background-color: rgb(61, 224, 230);
}
tfoot{
    background-color: grey;
}