body {
    padding: 50px;
    background-color: beige;
    padding: 50px 30px 50px 80px;
}

h1 {
    color: brown;
}

img{
    height: 200px;
    width: 250px;

}

h1.fnt-red {
    color: red;
    }
    
.fnt-blue {
    color: blue;
    }
    
#nombre_alumno {
        color: red;
        text-decoration: underline;
    }

h1.titulo{
    color:#64D2D4;
    font-size: 30px;
    font-style: italic;
}

p.texto{
    color: blue;
    font-size: 15px;
}

.destacado{
    font-style: italic;
    font-weight: bold;
    
}
  
div.centro {
    text-align: center;
}
div.circulo{
    margin: auto;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color:rgb(9, 76, 219);
    border-radius: 40px ;
    color: white;
    font-weight: bold;
    font-size: 60px;
    display: inline-block;
    margin: 20px ;
    line-height: 80px;
    padding: center;    
    
}

#c1{
    float: left;
}

#c3{
    float: right;
}

.encabezado{
    color:white;
    background-color: blue;
    text-align: center;
    width: 100%;
    height: 40px ;
    position: fixed;
    top:0;
    left: 0;
    line-height: 40px;
    
}

.pie{
    color: white;
    background-color: red;
    text-align: center;
    width: 100%;
    height: 40px ;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 40px;
}

.volver{
    top: 25%;
    position: absolute;
    right: 50%;  
}

.padreiconos{
    top:100px;
    color:white;
    font-size: 100px;
    text-align: center;
    line-height: 175px;
    
   
}

#derecha{
    padding: 25px;
    background-color: red;
    width: 100px;
    height: 100px;

}
#abajo{
    padding: 25px;
    background-color: green;
    width: 100px;
    height: 100px;
}
#arriba{
    padding: 25px;
    background-color:blue; 
    width: 100px;
    height: 100px;
}
#izquierda{
    padding: 25px;
    background-color: black;
    width: 100px;
    height: 100px;
}

td.ej7{
    width: 25%;
    text-align: justify;
        }        
        

.imagen{
    width: 100%;
    border: grey 3px solid;
    padding: 5px;
}

.p9{
    text-align: justify;
    width: 50%;
    font-family: "Oldenburg";
}

.p9::first-letter{
    font-size: 3em;
    
}
.p9::first-line{
    color:purple;
}


form.miformulario {
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin: auto;
}

form.miformulario > label {
    width: 100px;
    display: inline-block;
}

form.miformulario > input {
    width: 200px;
    margin-bottom: 10px;
}

form.miformulario  button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.fp1{
    color:blue;
    font-weight: bolder;
}
.fb1{
    background: blue;
}

h1.rojo{
    color:red;
}


div.uno{
    background-image: url("elo.png");
    background-size: 25%;
    display:block;
    margin:auto;
    background-color: white;
}

div.dos{
    background-image: url("elo.png");
    background-size: 100%;
    display:block;
    margin:auto;
    background-color: white;
}

div.tres{
    background-image: url("elo.png");
    background-size: 50% ;
    background-position: 50%;
    display:block;
    margin:auto;
    background-color: white;
    background-repeat: no-repeat;
}
p.p13{
    font-weight: bolder;
    text-align: center;
}

video{
    display:block;
    margin:auto; 
}

audio{
    display:block;
    margin:auto; 
}